* {
  box-sizing: border-box;
  text-align: center;
}

body{
	background: #777;
	color: #ebebeb;
	width: 960px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 18px; 
}


header {
	padding: 20px;
  	margin-bottom: 20px;
  	color: #333;
  	background: #fff;
}

section {
	padding-bottom: 20px;
	margin-bottom: 20px;

	
}


#nav {
	background: #fff;
	color: #333;
	padding: 20px;
	margin-bottom: 20px;

}

#full {
	float: left;
	display: block;
	background: #fff;
	color: #333;
	padding: 20px;
	width: 495px;
}

#division { 
	color: #fff;
	background: #777;
	padding: 20px;
	margin-top: 20px;

}

#one {
	background: #fff;
	color: #333;
	padding: 20px;
	margin-bottom: 20px;

}

#two {
	background: #fff;
	color: #333;
	padding: 20px;
	margin-bottom: 20px;
}

aside {
	display: block;
	color: #333;
	background: #fff;
	width: 435px;
	padding: 20px;
	height: 428px;
	float: right;
	margin-left: 30px;
	overflow: hidden;

}



footer {
	display: block;
	padding: 20px;
  	margin-bottom: 0;
  	color: #333;
  	background: #fff;
  	margin-top: 30px;	
}

/*.clearfix:: after {
	content: "";
	display: block;
	clear: both;
}*/
.clear {
	clear: both;
}